.bgimage {
  background: url('./assets/black.png') no-repeat;
  background-size: cover;
  height: auto;
}

.signup {
  background: linear-gradient(45deg, rgba(234, 0, 255, 0.562), rgba(3, 205, 212, 0.63));
  border-radius: 20px;
  padding: 40px;
  box-shadow: 1px 3px 6px 8px rgb(17, 0, 252);
  -webkit-box-shadow: 1px 3px 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 3px 6px 8px rgba(234, 245, 233, 0.6);
}

.pulsing-border {
  border: 3px solid #3498db;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      border-color: #3498db;
  }
  50% {
      border-color: #9b59b6;
  }
  100% {
      border-color: #3498db;
  }
}


.fs1 {
  font-size: 60px;
}

.font {
  font-style: italic;
  color: white;
  /* -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
}



.custom-error {
  color: white;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

/* From Uiverse.io by levxyca */
button {
  font-size: 1.5rem;
  color: #fafafa !important;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525 !important;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}